
/******************************
    * Оглавление
    * 1. Header
    * 2. Timetable
    * 3. Footer
    * 4. Other
    * 5. Media
 ******************************/




body {
    padding: 0;
    margin: 0;
    font: normal normal 16px/1.48 "Myriad Pro", Arial, sans-serif;
    color: #333333;
    font-weight: normal;
    font-style: normal;
}

/*********************
|		1.HEADER
*********************/

.main-header {
    margin: -16px 0 0 0;
    background: #E61400;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    text-align: center;
    min-height: 50px;

}

.logo {
    padding: 0;
    margin: 7px 0 7px 10px;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    float: left;
    font-stretch: ultra-condensed;
}

.main-menu > li {
    display: inline-block;
}


.main-menu > li > div {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.main-menu > li > div:hover {
    color: #ffebee;
}

/*********************
|	  2.TIMETABLE
*********************/

.group-block {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    padding: 15px;
}

.lesson-date {
    float: left;
    max-width: 90px;
    text-align: right;
}

.day-block {
    margin-left: 110px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
}

.ended {
    height: 100%;
    background: url(../img/line_pattern.png);
    background-color: #F5F5F5;
}

.ended p {
    margin: 0;
}

.ended .lesson-block {
    padding: 5px 20px 0 20px;
}

.lesson-block {
    padding: 10px 20px 0 20px;
    list-style: none;
}

.lesson-block + .lesson-block {
    border-top: solid 1px #e5e5e5;
}

.lesson-block p {
    margin-left: 0;
}

.lesson-block span {
    margin-left: 0;
}

.lesson-time {
    font-style: italic;
    font-size: 14px;
    float: left;
    padding-top: 2px;
    margin-right: 10px;
    max-width: 80px;
    text-align: right;
    color: #7e7e7e;
}

.lesson-info {
    font-size: 14px;
    margin-left: 90px;
    color: #7e7e7e;
}

.lesson-subject {
    font-size: 18px;
    line-height: 24px;
    color: #0054B9;
    text-decoration: none;
}

.lesson-subject:hover {
    color: #E61400;
    transition: 0.1s ease-in;
}

.lesson-school, [class^='lesson-teacher'] {
    margin: 5px;
}

.lesson-place {
    margin: 5px 0 0 5px;
    padding-bottom: 5px;
}

.lesson-info .btn {
    float: right;
    padding: 5px 15px;
    margin: -41px 0 0 0;
    text-decoration: none;
    color: #424242;
    text-align: center;
    border: 1px solid #ffcdd2;
    border-radius: 3px;
    background: #fff;
}

.lesson-info .btn:hover {
    border: 1px solid #E61400;
    transition: 0.2s ease-in;
    color: #000;
}

/*Всплывающие окна*/

.teacher-info {
    background-color: #fff;
    position: absolute;
    display: inline-block;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    max-width: 800px;
}

.teacher-img {
    border-radius: 50%;
    float: left;
    margin: 10px 30px 10px 10px;
}

/*********************
|		FOOTER
*********************/

footer {
    background: #252525;
    margin: 20px 0 0 0;
    color: #707070;
    padding-bottom: 20px;

}

.footer_content {
    text-align: left;
    display: block;
    margin: 0 auto;
    max-width: 1200px;
}

.block1 {
    margin-left: 110px;
    display: block;
    float: left;
}

.block2 {
    display: block;
    float: right;
}

.footer_content h5 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -0.05em;
}

.contacts-blocks p {
    font-size: 12px;
}

.contacts-blocks .fa {
    text-align: left;
    margin-left: 0;
    margin-bottom: 10px;
}

.contacts-blocks a {
    text-decoration: none;
    color: #707070;
    margin-left: 10px;
    font-size: 12px;
}

.contacts-blocks a:hover {
    color: #E9E9E9;
}

.icons > .gray-circle {
    display: inline-block;
    margin: 5px;
    margin-bottom: 30px;
}

.gray-circle > a {
    color: #707070;
}

.gray-circle > a .fa {
    background: #3F3F3F;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.gray-circle > a .fa:hover {
    color: #fff;
    background: #E61400;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
    transform: scale(1.2, 1.2);
    transition: 0.2s ease-in;
}

/*********************
|		Other
*********************/

.none {
    display: none;
}

.row:before, .row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

/*Всплывающее окно*/
.back {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
}

.popup {
    background: rgba(0, 0, 0, 0);
    display: none;
    z-index: 20;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-left: -352px;
    overflow-y: auto;
}

/*********************
|		MEDIA
*********************/

@media screen and (max-width: 1460px) {

    .block1 {
        margin-left: 130px;
    }

    .block2 {
        margin-right: 22px;
    }

}

@media screen and (max-width: 885px) {
    .main-menu > li {
        border-right: none;
    }

    .main-menu > li:first-child {
        border-left: none;
    }
}

@media all and (max-width: 815px) {

    /*header*/

    .main-header {
        margin: 0;
        width: 100%;
    }

    .main-menu {
        margin: 0;
        padding: 0;
    }

    .main-menu > li {
        display: inline-block;
        border-right: none;
    }

    .main-menu > li:first-child {
        border-left: none;
    }

    .main-menu > li > a {
        display: block;
        padding: 7px 40px;
        color: #fff;
        text-decoration: none;
    }

    .logo {
        margin: 0;
        float: none;
    }

    /*timetable*/

    .lesson-date {
        margin: 0;
        padding: 5px 10px 0 20px;
    }

    .day-block {
        margin: 0;
    }

    .lesson-block {
        padding: 5px 20px 0 20px;
    }

    .lesson-block p {
        margin: 2px 0;;
    }

    .lesson-time {
        margin: 0;
        float: none;
    }

    .lesson-info {
        margin-left: 0;
    }

    .lesson-subject {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
    }

    .lesson-info .btn {
        margin: 5px auto;
        float: none;
        display: block;
        max-width: 60px;
    }

    /*footer*/

    footer {
        padding-bottom: 0;
        margin-top: 10px;
    }

    .footer_content h5 {
        text-align: center;
        margin: 10px 0;
    }

    .block1 {
        max-width: 164px;
        margin: 0 auto;
        float: none;
    }

    .block2 {
        max-width: 200px;
        margin: 0 auto;
        float: none;
    }

    .icons {
        padding-left: 10px;
    }

    .icons > .gray-circle {
        margin-bottom: 15px;
    }

}


